
.navbar-brand img, .brand-link img {
    height: 80px !important;
    width: 80px !important;
    max-height: none !important;
    border-radius: 10px !important;
    object-fit: cover !important;
    padding: 0 !important;
    margin: 0 auto !important;
    background-color: white;
}

.login-logo img {
    height: 380px !important;
    width: 380px !important;
    max-height: none !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    padding: 0 !important;
    display: block;
    margin: 20px auto !important;
    
}

.brand-link {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 0.2rem;
    padding: 1rem !important;
    text-align: center;
}


.brand-link .brand-text {
    font-size: 1.2rem;
    font-weight: bold;
    white-space: normal !important;
    line-height: 1.2;
    text-align: center;
}